/* ////////// ABOUT ////////// */

#etc-container {
    height: 100%;
    overflow: hidden;
    margin-top: -203px;
    padding-top: 203px;
    position: relative;
}
#etc-container2 {
    height: 100%;
    position: relative;
    overflow-y: auto;
}

#propic {
    width: 60%;
    max-width: 750px;
    height: 300px;
    background: #edecec;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-image: url(/img/me3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-radius: 5px;
}
#propic img {
    max-width: 100%;
    opacity: 0;
}

#about {
    width: 750px;
    max-width: 60%;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #74c9ba;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}
#skills ul {
    width: 60%;
    max-width: 750px;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;

}
#skills li {
    height: 100%;
    display: inline-block;
    background-color: #edecec;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 5px;
    border-radius: 5px;
    font-size: 20px;
}

#skillbox {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -26px;
}

#skillbox li {
    transition: transform .12s ease-in-out;
}
#skillbox li:hover {
    transform: translate(0px, -2px);
}
.skill li {
    color: #74c9ba;
}
.language li {
    color: #20a2bf;
}
.software li {
    color: #644c71;
}
#resume-shadow {
    height: 47px;
    width: 50%;
    max-width: 750px;
    margin-top: -41px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4b9386;
    border-radius: 7px;
    position: relative;
    z-index: 19;
    display: block;
}
#resume {
    margin-top: 50px;
    width: 50%;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
#resume a {
    width: 100%;
    height: 20%;
    max-height: 100px;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #edecec;
    font-size: 20px;
    font-weight: 400;
    background-color: #74c9ba;
    border-radius: 7px;
    position: relative;
    z-index: 20;
    text-decoration: none;
    display: block;
    top: 0px;
    transition: transform .1s ease-in-out;
    background: color .2s ease-in-out;
}
#resume a:visited {
    color: #edecec;
    
}
#resume a:hover {
    background-color: #7fd4c5;
    transform: translate3d(0px, 6px, 0px);
}

@media screen and (max-width: 920px) {
#propic {
    background-image: url(/img/me2.png);
}

    #resume {
    width: 80%;
    max-width: 300px;
}
#resume-shadow {
    width: 80%;
    max-width: 300px;
}
#resume a {
    font-size: 3.5vw;
}
#resume-shadow {
    margin-top: -27px;
    height: 4.5%;
}
}