/* /////////// CONTACT /////////// */

#contact {
    width: 780px;
    max-width: 100%;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#contact a {
    width: 300px;
    max-width: 50%;
    display: block;
    margin: auto;
}
#contact img {
    transition: transform .12s ease-in-out;
}

#contact img:hover {
    transform: rotate(5deg);
}
.contact-img img {
    list-style: none;
    transition: transform .12s ease-in-out;
}

.contact-img img:hover {
    transform: translate3d(0px, -2px, 0px);
}
.email {
    height: 20%;
    width: 780px;
    max-width: 100%;
    border-top-color: inherit;
    border-top-width: 2px;
    border-top-style: dashed;
    color: #866096;
    letter-spacing: 2px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 3%;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
}
h5 {
    color: #866096;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.icons {
    width: auto;
    height: 65px;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.icons ul {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
}

.icons li:nth-child(n-1) {
    clear: left;
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
}
