
* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    height: 100%;
    max-height: 100%;
    background-color: #edecec;
    font-family: "Montserrat";
    background-image: url(/img/footer_lodyas.png);
    font-weight: 400;
    color: #74c9ba;
    font-size: 10px;
    overflow: hidden;
}
header{
    width: inherit;
    height: inherit;
    padding-top: 45px;
}
h1 {
    width: 100%;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    letter-spacing: 7px;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
h2 {
    text-transform: uppercase;
    font-weight: 400;
    color: #edecec;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #7b7b7b;
}
p {
    padding-top: 20px;
    color: #edecec;
    padding-bottom: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #7b7b7b;
}
p a {
    color: #8bffee;
}
p a:visited {
    color: #8bffee;

}
#banner {
    width: 100%;
    height: 47px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2b1f4f;
    text-align: center;
    position: relative;
    z-index: 10;
}

#banner-container a {
    width: 100%;
    height: 47px;
    display: block;
    position: fixed;
    z-index: 11;
}

/* ////////// NAV ////////// */

#navbar {
    width: 100%;
    height: 47px;
    background-color: #1c0f24;
    opacity: .6;
    margin-top: -47px;
    position: absolute;
    z-index: 12;
}

nav {
    font-family: "Montserrat";
    font-weight: 400;
    color: #74c9ba;
    font-size: 10px;
    border-bottom: 3px solid #8bffee;
    margin-top: -47px;
    position: relative;
    z-index: 14;
}
nav ul {
    height: 47px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    width: 260px;
    height: 47px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #edecec;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
}
nav li a {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 13;
    padding-top: 15px;
    margin-top: auto;
    color: #edecec;
    text-decoration: none;
    display: inline-block;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out;
}
}
nav li a:visited {
    color: #edecec;
}
nav li a:hover {
    background-color: #8bffee;
    color: #222222;
}
#nipple {
    background-image: url(/img/nipple.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
}

/* ////////// SIDEBAR ////////// */

#wrapped {
    margin-top: -50px;
    padding-top: -50px;
    height: 100%;
    width: 100%;
}

#wrapper {
    height: 100%;
    width: 100%;
    max-height: 100%;
    padding: 30px;
    padding-top: 80px;
    overflow: auto;
}
#sidebarEX { 
    height: 100%;
    max-height: 100%;
    text-align: center;
    width: 100px;
    float: left;
    display: block;
    margin-right: 30px;
    margin-top: -15px;
}
#sidebarEX img {
    width: 100px;
    margin-bottom: 15px;
}


/*make scroll*/
#full {
    width: 90%;
    max-height: 100%;
    max-width: 100%;
    margin-left: 130px;
}
#full img {
    box-shadow: 0px 0px 20px #000;
    max-width: 100%;
    max-height: 100%;
    float: left;
    display: block;
}

#backbutton  {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 10px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;

}

#backbutton a {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    border: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #8bffee;
    color: #8bffee;
    text-decoration: none;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out;
}

#backbutton a:hover {
    color: #222222;
    background-color: #8bffee;
}

#thumbs {
    margin-top: 30px;
}

#thumbs li {
    height: 10%;
    width: 100%;
    list-style: none;
}

#thumbs li img {
    margin-bottom: 15px;
    list-style: none;
    max-width: 100%;
    opacity: .5;
    transition: opacity .3s ease-in-out;
}

#thumbs li img:hover {
    opacity: 1;
}

.overlay {
    background: #222;
    display: inline-block;
}
#current img {
    color: #8bffee;
    border: 5px;
    border-style: solid;
}

footer {
    width: 100%;
    font-size: 10px;
    color: #74c9ba;
    text-align: center;
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
}
::selection {
    color: #222222;
    background: #8bffee;
}
::-moz-selection {
    color: #222222;
    background: #8bffee;
}

@media screen and (max-width: 1000px) {
nav ul {
    width: 100%;
}
nav li {
    width: 33.33%;
}
nav li a {
    width: 100%;
    float: none;
}
@media screen and (max-width: 420px) {  
h1 {
font-size: 12vw;
}