
* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

}
body {
    height: inherit;
    background-color: #edecec;
    font-family: "Montserrat";
    font-weight: 400;
    color: #74c9ba;
    font-size: 10px;
    overflow: hidden;
}
header{
    width: inherit;
    height: inherit;
    padding-top: 45px;
}
h1 {
    width: 100%;
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    letter-spacing: 7px;
    font-size: 60px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
    
h2 {
    width: 100%;
    height: 20px;
    font-family: "Montserrat";
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
    font-size: 10px;
    margin-top: -20px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#h2bar {
    width: 354px;
    height: 20px;
    margin-top: -7px;
    background: #1c0f24;
    opacity: .3;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}
h3 {
    width: 100%;
    height: 50px;
    font-weight: 700;
    color: #edecec;
    letter-spacing: 3px;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #dbd4d4;
    margin-bottom: 40px;
}
h4 {
    width: 100%;
    height: 75px;
    background-color: currentColor;
    border-bottom-color: #edecec;
    border-width: 0;
    border-bottom-width: 1px;
    border-top-width: 3px;
    border-top-color: #edecec;
    border-style: dashed;
    border-top-style: solid;
}

.text {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: left;
    margin-top: -75px;
    padding-top: 23px;
    background-color: inherit;
    color: #edecec;
    max-width: 750px;
    border-width: 0;
}
#banner {
    width: 100%;
    height: 200px;
    background-image: url(/img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #2b1f4f;
    text-align: center;
    position: relative;
    z-index: 10;
}

#banner-container a {
    width: 100%;
    height: 200px;
    display: block;
    position: fixed;
    z-index: 11;
}

/* ////////// NAV ////////// */

#navbar {
    height: 47px;
    background-color: #1c0f24;
    opacity: .6;
    margin-top: -47px;
    position: relative;
    z-index: 12;
}

nav {
    border-bottom: 3px solid #8bffee;
    margin-top: -47px;
    position: relative;
    z-index: 14;
}
nav ul {
    height: 47px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    width: 260px;
    height: 47px;
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #edecec;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
}
nav li a {
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 13;
    padding-top: 15px;
    margin-top: auto;
    color: #edecec;
    text-decoration: none;
    display: inline-block;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out;
}
}
nav li a:visited {
    color: #edecec;
}
nav li a:hover {
    background-color: #8bffee;
    color: #222222;
}
#nipple {
    background-image: url(/img/nipple.png);
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7px;
}

/* ////////// SIDEBAR ////////// */

#sidebar {
    width: 40%;
    height: 100%;
    background-color: #222222;
    position: fixed;
    min-width: 100px;
    max-width: 350px;
    float: left; 
    z-index: 4;
}
#categories {
    max-height: 200px;
    height: 30%
}
#categories ul {
    width: 100%;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
#categories li {
    width: 100%;
    height: 30px;
    margin-top: auto;
    margin-bottom: auto;
}
#categories li a {
    width: inherit;
    height: inherit;
    padding-left: 25px;
    text-decoration: none;
    padding-top: 9px;
    color: #edecec;
    font-size: 10px;
    letter-spacing: 4px;
    transition: color .2s ease-in-out,
    background-color .2s ease-in-out;
    display: inline-block;
}

#categories li a:visited {
    color: #edecec;   
}

#categories li a:hover {
    background-color: #8bffee;
    color: #222222;
}
#description {
    height: 100%;
    font-weight: 400; 
    color: #edecec;
    font-size: 12px;
    line-height: 20px;
    margin-top: -460px;
    padding-top: 460px;
    overflow-y: hidden;
    position: relative;
    z-index: -2;
}
#description-container {
    height: 100%;
    position: relative;
    overflow-y: auto;
    padding-left: 25px;
    padding-right: 25px;
}

#description a {
    color: #8bffee;
    text-decoration: none;
}
#current {
    width: 100%;
    height: 30px;
    font-size: 20px;
    margin-top: -20px;
    text-align: right;
    padding-right: 5%;
}
#container {
    overflow: hidden;
    margin-top: -203px;
    padding-top: 203px;
    position: relative;
    height: 100%;
    padding-left: 350px;
}
#container2 {
    height: 100%;
    position: relative;
    overflow-y: auto;
    padding-top: 20px;
}
#containerFull {
    padding-left: -100px;
}
#containerFull2 {
    position: relative;
    overflow-y: auto;
    margin-right: auto;
    margin-left: auto;
}
#etc-container {
    height: 100%;
    overflow: hidden;
    margin-top: -240px;
    padding-top: 240px;
    position: relative;
}
#etc-container2 {
    height: 100%;
    position: relative;
    overflow-y: auto;
}
/* ////////// WORK ////////// */

#work {
    overflow: hidden;
    width: 1405px;
    margin: 20px;
    margin-right: auto;
    margin-left: auto;
}
#thumbs {
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    height: 100%;

}
#thumbs img:hover{
    opacity: .5;
}
#thumbs a {
}
#thumbs img {
    opacity: 1;
    max-width: 100%;
    margin-bottom: 0px;
    transition: opacity .3s ease-in-out;
}
#thumbs img:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
.overlay {
    background: #fff;
    width: 465px;
    height: 280px;
    display: inline-block;
}

footer {
    width: 100%;
    font-size: 10px;
    color: #74c9ba;
    text-align: center;
    clear: both;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
}
::selection {
    color: #222222;
    background: #8bffee;
}
::-moz-selection {
    color: #222222;
    background: #8bffee;
}

@media screen and (max-width: 1820px) {
#work {
    width: 935px;
}

@media screen and (max-width: 1324px) {
h5 {
    font-size: 4vw;
}
h4 {
    font-size: 2.5vw;
}
#work {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#thumbs {
    max-width: 465px;
    
}
#thumbs img:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
#thumbs img:nth-child(2n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
}

@media screen and (max-width: 1000px) {
.overlay {
    background: #fff;
    width: auto;
    height: auto;
    display: inline-block;
}
h3 {
    width: 100%;
    font-size: 3.5vw;
}
nav ul {
    width: 100%;
}
nav li {
    width: 33.33%;
}
nav li a {
    width: 100%;
    float: none;
}
#container {
    padding-left: 35%;
}
#container2 {
    width: 100%;
    padding:
}
#categories li a {
    padding-left: 10%;
}

#work {
    max-width: 465px;
    overflow: hidden;
}
#thumbs {
    max-width: 465px;
}
#thumbs img {
    opacity: 1;
}
}
@media screen and (max-width: 920px) {

#description {
    overflow-x: hidden; 
    padding-top: 0px;
    height: 30%;
    margin-top: -10%;
}
#categories li a {
}
#thumbs {
    width: 75%;
}

#container2 {
    padding-top: 1%;
}
}
@media screen and (max-width: 420px) {  
h1 {
font-size: 12vw;
}