
* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;

}
body {
    background-color: #edecec;
    font-family: "Montserrat";
    font-weight: 400;
    color: #74c9ba;
    font-size: 10px;
    overflow: hidden;
    height: 100%;
}
header{
    width: inherit;
    height: inherit;
    padding-top: 45px;
}
h1 {
    font-family: "Montserrat";
    font-weight: 700;
    color: #fff;
    letter-spacing: 7px;
    font-size: 60px;
    width: 370px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;
    
}
#h2bar {
    margin-top: -7px;
    background: #1c0f24;
    height: 20px;
    width: 354px;
    opacity: .3;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;

}
    
h2 {
    font-family: "Montserrat";
    font-weight: 400;
    color: #fff;
    letter-spacing: 3px;
    font-size: 10px;
    margin-top: -20px;
    height: 20px;
    width: 354px;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 2;

}
h3 {
    width: 60%;
    font-weight: 700;
    color: #222222;
    letter-spacing: 3px;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 4vw;
    border-left-color: #8bffee;
    border-left-width: 5px;
}

#banner {
    background-image: url(/img/spaceNEWpub.jpg);
    background-repeat: repeat;
    background-position: center;
    height: 237px;
    width: 100%;
    text-align: center;
    background-color: #74c9ba;
    position: relative;
    z-index: 10;
}

#banner-container a {
    display: block;
    height: 237px;
    width:  100%;
    position: fixed;
    z-index: 11;
}

/*NAV*/

#navbar {
    background-color: #1c0f24;
    opacity: .6;
    height: 47px;
    margin-top: -47px;
    position: relative;
    z-index: 12;
}

nav {
    border-bottom: 3px solid #8bffee;
    margin-top: -47px;
    position: relative;
    z-index: 14;
}
nav ul {
    height: 47px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #edecec;
    font-size: 12px;
    letter-spacing: 1px;
    width: 260px;
    height: 47px;
    display: inline-block;
}
nav li a {
    position: relative;
    z-index: 13;
    padding-top: 15px;
    width: inherit;
    height: inherit;
    margin-top: auto;
    color: #edecec;
    text-decoration: none;
    display: inline-block;
}
nav li a:visited {
    color: #edecec;
}
nav li a:hover {
    background-color: #8bffee;
    color: #222222;
    transition: color .2s ease-in-out,
        background-color .2s ease-in-out;
}

/*SIDEBAR*/

#sidebar {
    background-color: #222222;
    position: fixed;
    height: 100%;
    width: 40%;
    min-width: auto;
    max-width: 350px;
    float: left; 
    position: fixed;
    z-index: 4;
}
#categories {
    height: 200px;
}
#categories ul {
    height: 150px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#categories li {
    height: 30px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#categories li a {
    padding-left: 25px;
    text-decoration: none;
    padding-top: 9px;
    width: inherit;
    height: inherit;
    color: #edecec;
    font-size: 10px;
    letter-spacing: 4px;
    display: inline-block;
}

#categories li a:visited {
    color: #edecec;   
}

#categories li a:hover {
    background-color: #8bffee;
    color: #222222;
    transition: color .2s ease-in-out,
        background-color .2s ease-in-out;
}
#description {
    font-weight: 400; 
    color: #edecec;
    font-size: 12px;
    line-height: 20px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    z-index: -2;
    margin-top: -490px;
    padding-top: 490px;
}
#description-container {
    height: 100%;
    position: relative;
    overflow-y: auto;
    padding-left: 25px;
    padding-right: 25px;
}
#container {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -237px;
    padding-left: 364px;
    padding-top: 237px;
    position: relative;
    z-index: 2; /* consider deletion */
    height: 100%;
}
#container2 {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
#etc-container {
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: -240px;
    padding-top: 240px;
    position: relative;
    z-index: 2; /* consider deletion */
    height: 100%;
}
#etc-container2 {
    height: 100%;
    position: relative;
    overflow-y: scroll;
}
/*WORK*/

#work {
    overflow: hidden;
    overflow-y: hidden;
    width: 840px;
    margin-left: auto;
    margin-right: auto;
}
#thumbs {
    overflow-y: hidden;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
    height: 100%;
}
#thumbs img:hover{
    opacity: .7;
}
#thumbs img {
    margin-bottom: 6px;
    color: #000000;
    transition: opacity .3s ease-in-out;
}
#thumbs img:nth-child(3n+2) {
    margin-left: 6px;
    margin-right: 6px;
}

/*ABOUT*/

#propic {
    height: auto;
    width: 60%;
    max-width: 750px;
    margin-top: 10px;
    background: #edecec;
    margin-left: auto;
    margin-right: auto;
}
#propic img {
    max-width: 100%;
}
#about {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 11px;
    line-height: 25px;
    color: #222222;
    text-align: center;
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#resume-shadow {
    margin-top: -44px;
    margin-left: auto;
    margin-right: auto;
    height: 47px;
    width: 50%;
    max-width: 267px;
    background-color: #4b9386;
    border-radius: 3px;
    position: relative;
    z-index: 19;
    display: block;
}
#resume {
    width: 50%;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
}
#resume a {
    padding-top: 18px;
    height: 47px;
    text-align: center;
    width: 100%;
    color: #edecec;
    font-size: 10px;
    font-weight: 400;
    background-color: #74c9ba;
    border-radius: 3px;
    position: relative;
    z-index: 20;
    text-decoration: none;
    display: block;
    top: 0px;
    transition: transform .1s ease-in-out;
}
#resume a:visited {
    color: #edecec;
    
}
#resume a:hover {
    background-color: #7fd4c5;
    background: color .1s ease-in-out;
    transform: translate3d(0px, 3px, 0px);
}

footer {
    clear: both;
    width: 100%;
    font-size: 10px;
    color: #74c9ba;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    display: block;
}
::selection {
    color: #222222;
    background: #8bffee;
}
::-moz-selection {
    color: #222222;
    background: #8bffee;
}

/*CLEAN UP ALLL OF THIS CRAP*/

@media screen and (max-width: 1224px) {
#sidebar {
    max-width: auto;
    min-width: 100px;
    width: 30%;
}
#container {
    float: right;
    min-width: 319px;
    width: 70%;
    position: relative;
    padding-left: 0px;
}   
#work {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 56px;
}
#thumbs {
    max-width: 545px;
    margin-top: 0px;
    
}
#thumbs img:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
#thumbs img:nth-child(2n+2) {
    margin-left: 6px;
    margin-right: 0px;
}
#about {
    width: 60%;
}
}

@media screen and (max-width: 820px) {
nav ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    width: 33.33%;
    float: left;
}
nav li a {
    width: 100%;
    float: none;
}
#sidebar {
    width: 25%;
}
#container {
    height: 100%;
    float: right;
    width: 75%;
    position: absolute;
    margin-left: 25%;
}
#categories li a {
    padding-left: 10%;
    font-size: 1.5vw;
}

#work {
    width: auto;
    margin-right: auto;
    margin-top: 56px;
}
#thumbs {
    width: 267px;
    height: auto;
    margin-top: 0px;
    overflow-x: hidden;
    
}
    
#thumbs img:nth-child(3n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
#thumbs img:nth-child(2n+2) {
    margin-left: 0px;
    margin-right: 0px;
}
}