* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%; 
}
body {
    background-color: #edecec;
    font-family: "Montserrat";
    font-weight: 400;
    color: #74c9ba;
    font-size: 10px;
    overflow: hidden;
}
header{
    width: inherit;
    height: inherit;
    padding-top: 45px;
}
h1 {
    font-family: "Montserrat";
    font-weight: 700;
    color: #edecec;
    letter-spacing: 7px;
    font-size: 60px;
}

h2 {
    font-family: "Montserrat";
    font-weight: 400;
    color: #edecec;
    letter-spacing: 3px;
    font-size: 10px;
    margin-top: -7px;
}

#banner {
    opacity: .5;
    height: 188px;
    width: 100%;
    text-align: center;
    background-color: #74c9ba;
}

nav {
    border-bottom: 3px solid #74c9ba;
    background-color: #222222;

}
nav ul {
    height: 47px;
    width: 780px;
    margin-left: auto;
    margin-right: auto;
}
nav li {
    float: left;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #edecec;
    font-size: 12px;
    letter-spacing: 1px;
    width: 260px;
    height: 47px;
    display: inline-block;
}
nav li a {
    padding-top: 15px;
    width: inherit;
    height: inherit;
    margin-top: auto;
    color: #edecec;
    text-decoration: none;
    display: inline-block;
}
nav li a:visited {
    color: #edecec;
}
nav li a:hover {
    background-color: #74c9ba;
    color: #222222;
    transition: color .2s ease-in-out,
        background-color .2s ease-in-out;
}
#sidebar {
    background-color: #222222;
    position: fixed;
    height: 100%;
    min-width: auto;
    width: 30%;
    max-width: 350px;
    float: left; 
}
#categories {
    height: 300px;
}
#categories ul {
    height: 120px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}
#categories li {
    height: 30px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}
#categories li a {
    padding-left: 25px;
    text-decoration: none;
    padding-top: 9px;
    width: inherit;
    height: inherit;
    color: #edecec;
    font-size: 10px;
    letter-spacing: 4px;
    display: inline-block;
}
#categories li a:hover {
    background-color: #74c9ba;
    color: #222222;
    transition: color .2s ease-in-out,
        background-color .2s ease-in-out;
}
#categories li a:visited {
    color: #edecec;   
}
#description {
    padding-left: 25px;
    padding-right: 25px; 
    color: #edecec;
    font-size: 12px;
    line-height: 20px;
}
#container {
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    padding-left: 350px;
    z-index: -1;
}
#work {
    overflow: hidden;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}
#thumbs {
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;
    overflow: hidden;
}
#thumbs img:hover{
    opacity: .7;
}
#thumbs img {
    margin-bottom: 6px;
    color: #000000;
    transition: opacity .3s ease-in-out;
}
#thumbs img:nth-child(3n+2) {
    margin-left: 6px;
    margin-right: 6px;
}

footer {
    position: relative;
    padding-top: 10px;
    clear: both;
    width: 100%;
    text-align: center;
    z-index: 10;
}