* {
     margin: 0px;
     padding: 0px;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
html {
     width: 100%;
     height: 100%;
     background-color: #edecec;
}
body {
     height: 100%;
}


@media screen and (max-width: 420px) {
     .container {
          width: 100%;
          max-width: 420px;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
     }
     .logo {
          display: none;
          width: 250px;
          height: inherit;
          float: left;
     }
     .navbar {
          width: 100%;
          height: 81px;
          background-color: rgba(0, 0, 0, .7);
          padding: 0% 10px;
          position: fixed;
          border-top-color: #8bffee;
          border-top-style: solid;
          border-top-width: 5px;
     }
     nav {
          width: 100%;
          height: 100%;
     }
     nav ul {
          height: 100%;
     }
     nav li {
          display: inline-block;
          height: 100%;
          float: left;
          width: 33.3333333%;
          line-height: 81px;
          font-family: 'Montserrat';
          font-size: .7em;
          font-weight: 400;
          text-align: center;
          text-transform: lowercase;
          letter-spacing: .125em;
          color: #edecec;
          transition: color .2s ease-in-out,
               background-color .2s ease-in-out;
     }
     nav li:hover {
          color: black;
          background-color: #8bffee;
     }
     #home {
          display: none;
     }
     .cur {
          color: #8bffee;
          transition: color .2s ease-in-out,
               background-color .2s ease-in-out;
     }
     .cur:hover {
          color: #000;
          background-color: rgba(0, 0, 0, 0);
     }
     #dropdown-menu {
          font-family: "Montserrat";
          font-size: .7em;
          font-weight: 700;
          letter-spacing: .125em;
          text-transform: capitalize;
          width: 100%;
          display: none;
          opacity: 1;
          position: fixed;
          z-index: 10;
          top: 81px;
          background: rgba(0, 0, 0, .8);
     }
     #dropdown-menu li:first-child {
          border-top-color: rgba(255, 255, 255, .1) ;
          border-top-style: solid;
          border-top-width: thin;
     }
     #dropdown-menu li {
          float: left;
          text-align: center;
          width: 100%;
          height: 66px;
          line-height: 66px;
          display: block;
     }
     #dropdown-menu a li {
          text-decoration: none;
          transition: opacity .2s ease-in-out, color .2s ease-in-out;
     }
     #dropdown-menu a {
          color: #edecec;
          text-decoration: none
     }
     #dropdown-menu a li:hover {
          opacity: .3;
          color: #fff;
     }
     #nipple {
          background-image: url(img/nipple.png);
          background-repeat: no-repeat;
          width: 10px;
          height: 10px;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 5.47619047619048%;
          margin-top: -7.85714285714286%;
     }

     .banner {
          background-image: url(img/work/college/banner_resize01.jpg);
          background-attachment: fixed;
          background-position: center;
          background-repeat:no-repeat;
          background-size: cover;
          width: 100%;
          height: 100%;
          z-index: 0;
     }
     .banner-container {
          background-color: rgba(0, 0, 0, .7);
          width: 100%;
          height: 100%;
          padding-top: 60%;
          position: absolute;
     }
     .banner p {
          text-transform: uppercase;
          font-size: 1.0625em;
          letter-spacing: .1875em;
          color: #edecec;
          text-align: center;
          font-family: 'Open Sans';
          font-weight: 300;
     }
     .pj {
          margin-top: 10%;
          color: #edecec;
          text-align: center;
          font-family: 'Montserrat';
          text-transform: uppercase;
          letter-spacing: .125em;
          font-size: 1.875em;
          width: 70%;
          min-width: 250px;
          max-width: 300px;
          padding: 6%;
          border-style: solid;
          border-width: 2px;
          border-radius: 19px;
          margin-left: auto;
          margin-right: auto;
     }
     #anchor {
          width: 20%;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5%;
     }
     a #anchor {
          transition: opacity .2s ease-in-out,
               transform .2s ease-in-out;
     }
     a #anchor:hover {
          opacity: .6;
     }
     .buttons {
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          padding: 10% 0;
     }
     .buttons ul{
          width: 55%;
          margin-left: auto;
          margin-right: auto;
     }
     .buttons li {
          border-radius: 200px;
          margin-top: 15%;
          display: block;
          margin-bottom: 6%;
          width: 100%;
          margin-left: auto;
          margin-right: auto;
          transition: transform .2s ease-in-out;
     }
     .buttons li:hover {
          transform: scale(1.05, 1.05);
     }
}

     .currenttab {
          color: #8bffee;
          border: #8bffee;
          border: 3px;
          border-bottom-style: solid;
          background-color: rgba(139, 255, 238, .1);
     }
     .desu {
          opacity: 0;
          width: 420px;
          height: 300px;
          background-color: rgba(0, 0, 0, .8);
          position: absolute;
          z-index: 100;
          transition: opacity .2s ease-in-out;
     }
     .desu:hover {
          opacity: 1;
     }
     .desu h6 {
          margin-left: auto;
          margin-right: auto;
          width: 350px;
          color: #fff;
          padding-top: 110px;
          text-align: center;
          font-size: 24px;
          text-transform: uppercase;
     }
     .desu p {
          margin-left: auto;
          margin-right: auto;
          padding-top: 10px;
          width: 350px;
          text-align: center;

     }
}

@media screen and (min-width: 420px) {
     #dropdown-menu {
          font-family: "Open Sans";
          font-size: .9em;
          letter-spacing: 2px;
          text-transform: uppercase;
          border-top-color: rgba(255, 255, 255, .1) ;
          border-top-style: solid;
          border-top-width: thin;
          width: 100%;
          display: none;
          opacity: 1;
          position: fixed;
          z-index: 10;
          top: 81px;
          background: rgba(0, 0, 0, .6);
     }
     #dropdown-menu li {
          float: left;
          text-align: center;
          width: 100%;
          height: 66px;
          line-height: 66px;
          display: block;
          border-left-color: rgba(255, 255, 255, .1);
          border-left-style: solid;
          border-left-width: thin;
     }
}
