body {
    background-color: #000;
}
.background {
    opacity: .3;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url(/img/work/college/banner.jpg);
    display: block;
}
.contact-section {
    width: 100%;
    height: 300px;
    margin-top: 81px;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
}
.contact h1 {
    text-align: center;
    font-size: 2.25em;
    color: #edecec;
    font-family: 'Montserrat';
    text-transform: uppercase;
    letter-spacing: .025em;
}
.contact p {
    text-align: center;
    font-size: .75em;
    color: #edecec;
    font-family: 'Open Sans';
}
.contact img {
    width: 50%;
    max-width: 200px;
    margin-top:  15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer {
    position: fixed;
    bottom: 0;
}
