/* line 1, ../sass/pageTransitions.sass */
.m-scene .scene_element {
  animation-duration: 1s;
  transition-timing-function: ease-in-out;
  animation-fill-mode: both;
}

/* line 6, ../sass/pageTransitions.sass */
.m-scene .scene_element--fadein {
  animation-name: fadeIn;
}

/* line 9, ../sass/pageTransitions.sass */
.m-scene.is-exiting .scene_element {
  animation-direction: alternate-reverse;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
