/*
COLORS:

orange:#FF5E43;
dark-orange:#D8402B;
25% orange: #ff9887; -announcement bar/header bars/light text-
50% orange: #ffd6d0;
light-grey: #D1D1D1;
*/


* {
	margin: 0px;
	padding: 0px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


html {

}
body {
	font-family: 'Montserrat';
	font-weight: 700;
	min-width: 1000px;
	width: 100%;
	overflow: hidden;
}
.user-message, input[type=text] {
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: 400;
}
nav {
	position: absolute;
	height: 53px;
	width: 100%;
	background-color: #FF5E43;
	border-bottom-width: 5px;
	border-bottom-color: #D8402B;
	border-bottom-style: solid;
	z-index: 10;
	min-width: 1000px;
}


.bar-left, .bar-right {
	width: auto;
	height: 100%;
	float: left;
	list-style: none;
}
.bar-left > li, .bar-right > li  {
	list-style: none;
	display: block;
	height: 100%;
	float: left;
}
.bar-left > li:first-child {
	padding-top: 12px;
	margin: 0 50px;
}
.bar-left > li:nth-child(2) {
	padding: 16px 20px;
	margin-right: 20px;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}
.bar-left > li:nth-child(2):hover {
	background-color: #ff7d66;
}
.bar-left > li:nth-child(3) {
	text-transform: uppercase;
	line-height: 50px;
}
.bar-left > li:nth-child(3) span:first-child {
	color: #ff8b7e;
	transition: color .2s ease-in-out;
	text-decoration: none;
	cursor: pointer;
}
.bar-left > li:nth-child(3) span:first-child:hover {
	color: #ffd6d0;
}
.bar-left > li:nth-child(3) span:nth-child(2) {
	color: white;
}
.bar-left > li:nth-child(4) {
	margin-left: 20px;
	padding: 22px 15px;
	transition: background-color .2s ease-in-out;
	cursor: pointer;
}
.bar-left > li:nth-child(4):hover {
	background-color: #ff7d66;
}


.bar-right {
	float: right;
}
.bar-right > li:first-child {
	padding: 7px 10px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}
.bar-right > li:first-child:hover {
	background-color: #ff7d66;
}
.bar-right > li:nth-child(2) {
	padding: 14px;
	cursor: pointer;
	transition: background-color .2s ease-in-out;
}
.bar-right > li:nth-child(2):hover {
	background-color: #ff7d66;
}


#chat {
	min-width: 800px;
	float: left;
	position: absolute;
	display: inline-block;
	padding-top: 53px;
	width: 80%;
	height: 100%;
	z-index: 0;
	background-image: url(./assets/img/huddle-bg.png);
	background-repeat: no-repeat;
	background-position: -20px 90%;
}
.announcements {
	height: 31px;
	background-color: #ffd6d0;
	text-align: center;
}
.announcements span{
	line-height: 31px;
}
.announcements > span:first-child {
	text-transform: uppercase;
	color: #ff9887;
}
.announcements > span:nth-child(2) {
	text-transform: capitalize;
	color: #ff573b;
}
.text-input {
	position: absolute;
	bottom: 0;
	height: 62px;
	width: 100%;
}
.input-area {
	border-top: 2px solid #e3e3e3;
	height: 100%;
	width: 100%;
	padding: 13px 130px;
}
.input-area input {
	width: 100%;
	padding: 5px 10px;
	border: 2px solid #e3e3e3;
	outline: none;
	font-size: 14px;
}
.text-input img {
	position: absolute;
	bottom: 30px;
	left: 40px;
	transition: opacity .2s ease-in-out;
}
.text-input img:hover {
	opacity: .7;
	cursor: pointer;
}


#sidebar {
	float: right;
	height: 100%;
	width: 20%;
	display: inline-block;
	padding-top: 53px;
	border-left: 1px solid #FF5E43;
}
.text-wrapper {
	position: absolute;
	top: 0;
	z-index: 10;
	height: 100%;
	padding: 84px 0 61px;
}
.message-wrapper {
	height: 100%;
	position: relative;
	padding: 10px 50px 30px 130px;
	z-index: -1;
	overflow-y: auto;
}
.message {
	list-style: none;
	margin: 25px 0px;
}
.propic {
	float: left;
	position: absolute;
	left: 46px;
}
.user-name {
	font-size: 14px;
	text-transform: uppercase
}
.time-stamp {
	font-size: 14px;
	color: #ffd6d0;
}
.online-circle {
	content: "&#9675";
}
.green {
	color: #4DBC24;
}
.yellow {
	color: #FFD524;
}
.red {
	color: #ED3535;
}
::selection {
	background-color: #FF5E43;
	color: white;
}
button {
	position: absolute;
	bottom: 0;
}
