/* line 16, ../sass/base.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/base.sass */
html {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/base.sass */
body {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/base.sass */
section {
  width: 100%;
}

/* line 30, ../sass/base.sass */
nav {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 75px;
  position: fixed;
  border-bottom: 1px solid #242424;
}
/* line 36, ../sass/base.sass */
nav ul {
  float: right;
}
@media only screen and (max-width: 620px) {
  /* line 36, ../sass/base.sass */
  nav ul {
    display: none;
  }
}
/* line 40, ../sass/base.sass */
nav li {
  display: inline-block;
  height: 100%;
  width: 85px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 700;
  line-height: 75px;
  list-style: outside none none;
  float: left;
}
/* line 52, ../sass/base.sass */
nav li a {
  text-align: center;
  display: inline-block;
  height: 100%;
  width: 85px;
  color: #5d5d5d;
  position: absolute;
  letter-spacing: 1px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
/* line 62, ../sass/base.sass */
nav .logo {
  height: 100%;
  float: left;
  color: #edecec;
  font-family: "Montserrat";
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 75px;
  transition: all 0.2s ease-in-out;
  padding: 0 20px;
}
/* line 75, ../sass/base.sass */
nav .logo:hover {
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

/* line 81, ../sass/base.sass */
nav ul a:before, nav ul a:after {
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 85, ../sass/base.sass */
nav ul a:before {
  bottom: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #8bffee;
}
/* line 92, ../sass/base.sass */
nav ul a:hover:before,
nav ul .current a:before {
  opacity: 1;
  width: 100%;
}
/* line 96, ../sass/base.sass */
nav ul a:hover:after,
nav ul .current a:after {
  max-width: 100%;
}
/* line 99, ../sass/base.sass */
nav ul a:hover {
  color: white;
  background-color: rgba(139, 255, 238, 0.1);
}
/* line 103, ../sass/base.sass */
nav ul .current a {
  color: white;
}

/* line 106, ../sass/base.sass */
.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
