/* line 1, ../sass/animate.scss */
.learn-more-arrow {
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 6px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  50% {
    -moz-transform: translate(0px, 6px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 6px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
  50% {
    -o-transform: translate(0px, 6px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(0px, 6px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
/* line 16, ../sass/base.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/base.sass */
nav {
  position: fixed;
  display: none;
}

/* line 25, ../sass/base.sass */
body {
  width: 100%;
  height: 100%;
}

/* line 28, ../sass/base.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  position: relative;
}

/* line 35, ../sass/base.sass */
#mlh-trust-badge {
  position: absolute;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000;
  transition: left 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 35, ../sass/base.sass */
  #mlh-trust-badge {
    top: 75px;
    z-index: 1;
  }
}

/* line 47, ../sass/base.sass */
nav {
  width: 90%;
  height: 60px;
  background-color: #dd2626;
}

/* line 52, ../sass/base.sass */
#landing {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 59, ../sass/base.sass */
#landing .container {
  z-index: 2;
}

/* line 61, ../sass/base.sass */
.landing-nav {
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (max-width: 570px) {
  /* line 61, ../sass/base.sass */
  .landing-nav {
    position: fixed;
  }
}
/* line 76, ../sass/base.sass */
.landing-nav .logo {
  padding-left: 12%;
  transition: opacity 0.2s ease-in-out;
  height: 75px;
  float: left;
}
@media only screen and (max-width: 720px) {
  /* line 76, ../sass/base.sass */
  .landing-nav .logo {
    opacity: 0;
    position: fixed;
  }
}
/* line 84, ../sass/base.sass */
.landing-nav .logo img {
  height: 30px;
  width: 160px;
}
/* line 87, ../sass/base.sass */
.landing-nav .logo a {
  padding-top: 20px;
  position: absolute;
  height: 75px;
  transition: opacity 0.2s ease-in-out;
}
/* line 92, ../sass/base.sass */
.landing-nav .logo a:hover {
  opacity: 0.7;
}
/* line 94, ../sass/base.sass */
.landing-nav .items {
  height: 75px;
  float: right;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 94, ../sass/base.sass */
  .landing-nav .items {
    width: 100%;
    padding-left: 12%;
    background-color: rgba(196, 8, 8, 0.5);
  }
}
@media only screen and (max-width: 570px) {
  /* line 94, ../sass/base.sass */
  .landing-nav .items {
    padding-left: 0;
  }
}
/* line 105, ../sass/base.sass */
.landing-nav .items li {
  display: inline-block;
}
@media only screen and (max-width: 720px) {
  /* line 105, ../sass/base.sass */
  .landing-nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 110, ../sass/base.sass */
.landing-nav .items li a {
  line-height: 75px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 110, ../sass/base.sass */
  .landing-nav .items li a {
    font-size: 12px;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 123, ../sass/base.sass */
.landing-nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(244, 52, 52, 0.7);
}

/* line 126, ../sass/base.sass */
.landing-content {
  padding: 0 8%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-family: "Work Sans";
  font-weight: 100;
  color: white;
  text-align: center;
}
/* line 136, ../sass/base.sass */
.landing-content .logo {
  width: 100%;
  max-width: 630px;
  margin-bottom: 4.6%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: margin 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 136, ../sass/base.sass */
  .landing-content .logo {
    margin-bottom: 12%;
  }
}
/* line 146, ../sass/base.sass */
.landing-content .logo img {
  max-width: 100%;
}
/* line 148, ../sass/base.sass */
.landing-content .logo .spacer {
  position: relative;
  z-index: 1;
  min-height: 100px;
  height: 14%;
  width: 100%;
}
/* line 157, ../sass/base.sass */
.landing-content .landing-text p:nth-child(1) {
  font-size: 1.25em;
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 157, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(1) {
    font-size: 4vw;
  }
}
/* line 162, ../sass/base.sass */
.landing-content .landing-text p:nth-child(2) {
  font-size: 3.125em;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 570px) {
  /* line 162, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(2) {
    font-size: 8vw;
  }
}
/* line 169, ../sass/base.sass */
.landing-content .landing-text p:nth-child(3) {
  font-size: 2em;
}
@media only screen and (max-width: 570px) {
  /* line 169, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(3) {
    font-size: 6vw;
  }
}
/* line 173, ../sass/base.sass */
.landing-content .sign-up {
  margin-top: 4.6%;
}
@media only screen and (max-width: 720px) {
  /* line 173, ../sass/base.sass */
  .landing-content .sign-up {
    margin-top: 10%;
  }
}
/* line 177, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn {
  display: block;
  color: #f43434;
  font-size: 1.4375em;
  height: 54px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 570px) {
  /* line 177, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn {
    margin-bottom: 3%;
  }
}
/* line 185, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a {
  margin-left: auto;
  margin-right: auto;
  height: 54px;
  width: 80%;
  max-width: 312px;
  color: #f43434;
  background-color: #ffc933;
  border-radius: 8px;
  text-decoration: none;
  line-height: 48px;
  border: 3px solid #ffc933;
  transition: all 0.2s ease-in-out;
  padding: 10px 100px;
}
@media only screen and (max-width: 570px) {
  /* line 185, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn a {
    padding: 3vw 13vw;
  }
}
/* line 202, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a .svg path, .landing-content .sign-up .sign-up-btn a .svg rect {
  transition: all 0.2s ease-in-out;
}
/* line 204, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover {
  background-color: transparent;
  color: #ffc933;
}
/* line 208, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover .svg path, .landing-content .sign-up .sign-up-btn a:hover .svg rect {
  fill: #ffc933;
}
/* line 210, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a img {
  margin-right: 10px;
}
/* line 213, ../sass/base.sass */
.landing-content .sign-up span {
  font-size: 0.9em;
  display: block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 213, ../sass/base.sass */
  .landing-content .sign-up span {
    font-size: 3.5vw;
  }
}
/* line 219, ../sass/base.sass */
.landing-content .sign-up span a {
  color: #ffc933;
  transition: all 0.2s ease-in-out;
}
/* line 222, ../sass/base.sass */
.landing-content .sign-up span a:hover {
  color: white;
}
/* line 224, ../sass/base.sass */
.landing-content .bottom-landing {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  left: 0;
}
/* line 230, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link {
  text-decoration: none;
  color: white;
  width: 80%;
  max-width: 1000px;
}
/* line 235, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more {
  padding: 20px 0 40px;
  transition: all 0.2s ease-in-out;
}
/* line 238, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more span {
  display: block;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-height: 630px) {
  /* line 238, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more span {
    opacity: 0;
  }
}
/* line 244, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/* line 249, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more:hover {
  color: #ffc933;
}
/* line 251, ../sass/base.sass */
.landing-content .social-media {
  position: absolute;
  bottom: 0;
}
/* line 254, ../sass/base.sass */
.landing-content .social-media a {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  padding: 14px;
  transition: all 0.2s ease-in-out;
  float: left;
}
/* line 263, ../sass/base.sass */
.landing-content .social-media a .svg path {
  transition: all 0.2s ease-in-out;
}
/* line 265, ../sass/base.sass */
.landing-content .social-media a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 268, ../sass/base.sass */
.landing-content .social-media a:hover .svg path {
  fill: #ffc933;
}

/* line 270, ../sass/base.sass */
.red-fill {
  background-color: rgba(244, 52, 52, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 278, ../sass/base.sass */
#about {
  width: 100%;
  height: 100%;
  background-color: #dd2626;
}

/* line 282, ../sass/base.sass */
.bg-pattern {
  height: 100%;
  width: 100%;
  background-image: url("../assets/img/bg-pattern.svg");
  background-repeat: repeat;
  background-size: 21 28;
}

/* line 289, ../sass/base.sass */
line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
