/* line 1, ../sass/animate.scss */
.learn-more-arrow {
  animation: animationFrames ease-in-out 1s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards;
  /*when the spec is finished*/
  -webkit-animation: animationFrames ease-in-out 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode: forwards;
  /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames ease-in-out 1s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode: forwards;
  /*FF 5+*/
  -o-animation: animationFrames ease-in-out 1s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode: forwards;
  /*Not implemented yet*/
  -ms-animation: animationFrames ease-in-out 1s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode: forwards;
  /*IE 10+*/
}

@keyframes animationFrames {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes animationFrames {
  0% {
    -moz-transform: translate(0px, 0px);
  }
  50% {
    -moz-transform: translate(0px, 15px);
  }
  100% {
    -moz-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 15px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-o-keyframes animationFrames {
  0% {
    -o-transform: translate(0px, 0px);
  }
  50% {
    -o-transform: translate(0px, 15px);
  }
  100% {
    -o-transform: translate(0px, 0px);
  }
}
@-ms-keyframes animationFrames {
  0% {
    -ms-transform: translate(0px, 0px);
  }
  50% {
    -ms-transform: translate(0px, 15px);
  }
  100% {
    -ms-transform: translate(0px, 0px);
  }
}
/* line 24, ../sass/base.sass */
* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/base.sass */
body {
  width: 100%;
  height: 100%;
}

/* line 34, ../sass/base.sass */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  position: relative;
  transition: all 0.2s ease-in-out;
}

/* line 41, ../sass/base.sass */
#mlh-trust-badge {
  position: absolute;
  max-width: 100px;
  width: 10%;
  min-width: 60px;
  display: block;
  z-index: 10000;
  transition: left 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 41, ../sass/base.sass */
  #mlh-trust-badge {
    top: 75px;
    z-index: 1;
  }
}

/* line 52, ../sass/base.sass */
line, nav, .landing-content .social-media a, #about, #faq, #schedule, #sponsors {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 55, ../sass/base.sass */
nav {
  position: fixed;
  z-index: 20;
  top: 0;
  background-color: #dd2626;
  display: none;
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
}
@media only screen and (max-width: 570px) {
  /* line 55, ../sass/base.sass */
  nav {
    display: none;
  }
}
/* line 71, ../sass/base.sass */
nav .logo {
  margin-left: 23px;
  transition: opacity 0.2s ease-in-out;
  height: 75px;
  float: left;
}
@media only screen and (max-width: 720px) {
  /* line 71, ../sass/base.sass */
  nav .logo {
    opacity: 0;
    position: fixed;
  }
}
/* line 79, ../sass/base.sass */
nav .logo img {
  height: 30px;
  width: 160px;
}
/* line 82, ../sass/base.sass */
nav .logo a {
  padding-top: 23px;
  position: absolute;
  height: 75px;
  transition: opacity 0.2s ease-in-out;
}
/* line 87, ../sass/base.sass */
nav .logo a:hover {
  opacity: 0.7;
}
/* line 89, ../sass/base.sass */
nav .items {
  height: 75px;
  float: right;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 89, ../sass/base.sass */
  nav .items {
    width: 100%;
  }
}
/* line 96, ../sass/base.sass */
nav .items li {
  float: left;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 96, ../sass/base.sass */
  nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 103, ../sass/base.sass */
nav .items li a {
  line-height: 75px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 103, ../sass/base.sass */
  nav .items li a {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 116, ../sass/base.sass */
nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(181, 22, 22, 0.7);
}

/* line 119, ../sass/base.sass */
#landing {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-image: url("../assets/img/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 128, ../sass/base.sass */
#landing .container {
  z-index: 2;
  height: 100%;
}

/* line 132, ../sass/base.sass */
.landing-nav {
  height: 75px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  color: white;
  font-family: "Work Sans";
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}
@media only screen and (max-width: 570px) {
  /* line 132, ../sass/base.sass */
  .landing-nav {
    position: fixed;
  }
}
/* line 147, ../sass/base.sass */
.landing-nav .logo {
  padding-left: 12%;
  transition: opacity 0.2s ease-in-out;
  height: 75px;
  float: left;
}
@media only screen and (max-width: 720px) {
  /* line 147, ../sass/base.sass */
  .landing-nav .logo {
    opacity: 0;
    position: fixed;
  }
}
/* line 155, ../sass/base.sass */
.landing-nav .logo img {
  height: 30px;
  width: 160px;
}
/* line 158, ../sass/base.sass */
.landing-nav .logo a {
  padding-top: 20px;
  position: absolute;
  height: 75px;
  transition: opacity 0.2s ease-in-out;
}
/* line 163, ../sass/base.sass */
.landing-nav .logo a:hover {
  opacity: 0.7;
}
/* line 165, ../sass/base.sass */
.landing-nav .items {
  height: 75px;
  float: right;
  position: relative;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 165, ../sass/base.sass */
  .landing-nav .items {
    width: 100%;
    padding-left: 12%;
    background-color: rgba(196, 8, 8, 0.5);
  }
}
@media only screen and (max-width: 570px) {
  /* line 165, ../sass/base.sass */
  .landing-nav .items {
    padding-left: 0;
  }
}
/* line 176, ../sass/base.sass */
.landing-nav .items li {
  float: left;
  display: inline-block;
}
@media only screen and (max-width: 720px) {
  /* line 176, ../sass/base.sass */
  .landing-nav .items li {
    width: 25%;
    float: left;
  }
}
/* line 182, ../sass/base.sass */
.landing-nav .items li a {
  line-height: 75px;
  height: 100%;
  padding: 0 20px;
  float: right;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 182, ../sass/base.sass */
  .landing-nav .items li a {
    font-size: 0.9em;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
/* line 195, ../sass/base.sass */
.landing-nav .items li a:hover {
  color: #ffc933;
  background-color: rgba(181, 22, 22, 0.7);
}

/* line 198, ../sass/base.sass */
.landing-content {
  padding: 0 8%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  font-family: "Work Sans";
  color: white;
  text-align: center;
}
/* line 207, ../sass/base.sass */
.landing-content .logo {
  width: 100%;
  max-width: 530px;
  margin-bottom: 4.6%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: margin 0.2s ease-in-out;
}
@media only screen and (max-width: 720px) {
  /* line 207, ../sass/base.sass */
  .landing-content .logo {
    margin-bottom: 8%;
  }
}
/* line 217, ../sass/base.sass */
.landing-content .logo img {
  max-width: 100%;
}
/* line 219, ../sass/base.sass */
.landing-content .logo .spacer {
  position: relative;
  z-index: 1;
  min-height: 100px;
  height: 14%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 219, ../sass/base.sass */
  .landing-content .logo .spacer {
    min-height: 150px;
  }
}
/* line 230, ../sass/base.sass */
.landing-content .landing-text p:nth-child(1) {
  font-weight: 400;
  font-size: 1.25em;
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 230, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(1) {
    font-size: 4vw;
  }
}
/* line 236, ../sass/base.sass */
.landing-content .landing-text p:nth-child(2) {
  font-size: 2.525em;
  font-family: "Montserrat";
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 570px) {
  /* line 236, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(2) {
    font-size: 8vw;
  }
}
/* line 243, ../sass/base.sass */
.landing-content .landing-text p:nth-child(3) {
  font-weight: 700;
  font-size: 1.5em;
}
@media only screen and (max-width: 570px) {
  /* line 243, ../sass/base.sass */
  .landing-content .landing-text p:nth-child(3) {
    font-size: 6vw;
  }
}
/* line 248, ../sass/base.sass */
.landing-content .sign-up {
  margin-top: 4.6%;
}
@media only screen and (max-width: 720px) {
  /* line 248, ../sass/base.sass */
  .landing-content .sign-up {
    margin-top: 10%;
  }
}
/* line 252, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn {
  display: block;
  color: #f43434;
  font-size: 1.4375em;
  height: 50px;
}
@media only screen and (max-width: 570px) {
  /* line 252, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn {
    margin-bottom: 3%;
  }
}
/* line 259, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a {
  margin-left: auto;
  margin-right: auto;
  height: 54px;
  width: 80%;
  max-width: 312px;
  color: #f43434;
  background-color: #ffc933;
  border-radius: 8px;
  text-decoration: none;
  line-height: 48px;
  border: 3px solid #ffc933;
  transition: all 0.2s ease-in-out;
  padding: 10px 100px;
}
@media only screen and (max-width: 570px) {
  /* line 259, ../sass/base.sass */
  .landing-content .sign-up .sign-up-btn a {
    padding: 3vw 13vw;
  }
}
/* line 276, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a .svg path, .landing-content .sign-up .sign-up-btn a .svg rect {
  stroke-width: 0;
  fill: #f43434;
  transition: all 0.2s ease-in-out;
}
/* line 280, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover {
  background-color: transparent;
  color: #ffc933;
}
/* line 284, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a:hover .svg path, .landing-content .sign-up .sign-up-btn a:hover .svg rect {
  fill: #ffc933;
}
/* line 286, ../sass/base.sass */
.landing-content .sign-up .sign-up-btn a img {
  margin-right: 10px;
}
/* line 288, ../sass/base.sass */
.landing-content .bottom-landing {
  position: absolute;
  width: 100%;
  max-width: 1200px;
  bottom: 0;
  left: 0;
}
@media only screen and (max-height: 630px) {
  /* line 288, ../sass/base.sass */
  .landing-content .bottom-landing {
    pointer-events: none;
  }
}
/* line 297, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link {
  text-decoration: none;
  color: white;
  width: 80%;
  max-width: 1000px;
}
/* line 302, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more {
  padding: 20px 0 40px;
  transition: all 0.2s ease-in-out;
}
/* line 305, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more span {
  display: block;
  padding: 10px 0;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-height: 630px) {
  /* line 305, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more span {
    opacity: 0;
  }
}
/* line 311, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
  width: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (max-height: 630px) {
  /* line 311, ../sass/base.sass */
  .landing-content .bottom-landing .learn-more-link .learn-more .learn-more-arrow {
    margin-right: 20px;
  }
}
/* line 318, ../sass/base.sass */
.landing-content .bottom-landing .learn-more-link .learn-more:hover {
  color: #ffc933;
}
/* line 320, ../sass/base.sass */
.landing-content .social-media {
  position: absolute;
  bottom: 0;
}
/* line 323, ../sass/base.sass */
.landing-content .social-media a {
  border-color: rgba(255, 255, 255, 0);
  display: inline-block;
  position: relative;
  width: 55px;
  height: 55px;
  padding: 14px;
  transition: all 0.2s ease-in-out;
  float: left;
}
/* line 334, ../sass/base.sass */
.landing-content .social-media a .svg path, .landing-content .social-media a .svg polygon, .landing-content .social-media a .svg rect {
  fill: white;
  transition: all 0.2s ease-in-out;
}
/* line 337, ../sass/base.sass */
.landing-content .social-media a:hover {
  border-color: rgba(255, 255, 255, 0.2);
  background-color: #dd2626;
}
/* line 341, ../sass/base.sass */
.landing-content .social-media a:hover .svg path, .landing-content .social-media a:hover .svg polygon, .landing-content .social-media a:hover .svg rect {
  fill: white;
}

/* line 343, ../sass/base.sass */
.red-fill {
  background-color: rgba(181, 22, 22, 0.7);
  width: 100%;
  height: 100%;
  min-height: 550px;
  position: absolute;
  z-index: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* line 352, ../sass/base.sass */
#about {
  width: 100%;
  height: auto;
  background-color: #dd2626;
}
/* line 357, ../sass/base.sass */
#about .bg-pattern {
  height: inherit;
  width: 100%;
  padding: 35px 0 50px;
  background-image: url("../assets/img/bg-pattern.svg");
  background-repeat: repeat;
  background-size: 21 28;
}
/* line 364, ../sass/base.sass */
#about .text-box {
  height: auto;
  width: 100%;
  max-width: 595px;
  padding: 40px 30px;
  display: inline-block;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
/* line 373, ../sass/base.sass */
#about .text-box .icon {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 72px;
  margin-bottom: 10px;
}
/* line 379, ../sass/base.sass */
#about .text-box h1 {
  font-family: "Montserrat";
  font-size: 2.0625em;
  margin-bottom: -10px;
}
/* line 383, ../sass/base.sass */
#about .text-box p {
  font-family: "Work Sans";
  font-size: 1.1em;
  line-height: 22.35px;
}
/* line 387, ../sass/base.sass */
#about .text-box p:before {
  content: "\a";
  white-space: pre;
}
@media only screen and (max-width: 1200px) {
  /* line 391, ../sass/base.sass */
  #about .container {
    max-width: 595px;
  }
}

/* line 393, ../sass/base.sass */
.btn-wrapper {
  width: 100%;
}
/* line 395, ../sass/base.sass */
.btn-wrapper .btn {
  display: block;
  width: 100%;
}
/* line 398, ../sass/base.sass */
.btn-wrapper .btn a {
  display: block;
  width: 85%;
  max-width: 380px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 40px;
  font-family: "Work Sans";
  background-color: #ffc933;
  border: 3px solid #ffc933;
  color: #f43434;
  position: relative;
  text-decoration: none;
  font-size: 1.4em;
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 8px;
}
/* line 415, ../sass/base.sass */
.btn-wrapper .btn a .svg {
  width: 12px;
}
@media only screen and (max-width: 570px) {
  /* line 415, ../sass/base.sass */
  .btn-wrapper .btn a .svg {
    width: 8px;
  }
}
/* line 419, ../sass/base.sass */
.btn-wrapper .btn a .svg polygon, .btn-wrapper .btn a .svg path, .btn-wrapper .btn a .svg rect {
  fill: #f43434;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 398, ../sass/base.sass */
  .btn-wrapper .btn a {
    width: 90%;
    padding: 3vw 0vw;
    font-size: 5vw;
  }
}
/* line 426, ../sass/base.sass */
.btn-wrapper .btn a:hover {
  color: #ffc933;
  background-color: transparent;
}
/* line 430, ../sass/base.sass */
.btn-wrapper .btn a:hover .svg polygon, .btn-wrapper .btn a:hover .svg path, .btn-wrapper .btn a:hover .svg rect {
  fill: #ffc933;
}

/* line 432, ../sass/base.sass */
.subtext {
  margin-top: 10px;
  text-align: center;
  font-family: "Work Sans";
  color: white;
  font-size: 0.9em;
  display: block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 432, ../sass/base.sass */
  .subtext {
    font-size: 4vw;
  }
}
/* line 442, ../sass/base.sass */
.subtext a {
  text-decoration: none;
  color: #ffc933;
  padding-bottom: 3px;
  border-bottom: 1px solid #ffc933;
  transition: all 0.2s ease-in-out;
}
/* line 448, ../sass/base.sass */
.subtext a:hover {
  color: white;
}
/* line 450, ../sass/base.sass */
.subtext a[data-email] {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 455, ../sass/base.sass */
.subtext a[data-email]:after {
  pointer-events: none;
  content: attr(data-email);
  position: absolute;
  top: 170%;
  right: 20%;
  background: #c91818;
  padding: 8px 15px;
  color: white;
  border-radius: 8px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 10;
}
@media only screen and (max-width: 570px) {
  /* line 455, ../sass/base.sass */
  .subtext a[data-email]:after {
    display: none;
  }
}
/* line 472, ../sass/base.sass */
.subtext a[data-email]:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 6px solid #c91818;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  left: 30%;
  top: 140%;
}
@media only screen and (max-width: 570px) {
  /* line 472, ../sass/base.sass */
  .subtext a[data-email]:before {
    display: none;
  }
}
/* line 488, ../sass/base.sass */
.subtext a[data-email]:hover:after {
  top: 140%;
}
/* line 492, ../sass/base.sass */
.subtext a[data-email]:hover:before {
  top: 110%;
}
/* line 496, ../sass/base.sass */
.subtext a[data-email]:hover:after {
  opacity: 1;
}
/* line 500, ../sass/base.sass */
.subtext a[data-email]:hover:before {
  opacity: 1;
}

/* line 504, ../sass/base.sass */
#faq {
  background-color: #c91818;
}
/* line 507, ../sass/base.sass */
#faq .container {
  padding: 50px 0;
}
/* line 511, ../sass/base.sass */
#faq .container .subtext a[data-email]:after {
  color: #f43434;
  background-color: #ffc933;
}
/* line 514, ../sass/base.sass */
#faq .container .subtext a[data-email]:before {
  border-bottom-color: #ffc933;
}
/* line 516, ../sass/base.sass */
#faq .q-row {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
/* line 522, ../sass/base.sass */
#faq .q-row .q-block {
  height: 200px;
  width: 310px;
  margin: 20px;
  display: flex;
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media only screen and (max-width: 570px) {
  /* line 522, ../sass/base.sass */
  #faq .q-row .q-block {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    height: auto;
    background-color: #9b1010;
    border-bottom: 1px solid #c91818;
  }
  /* line 536, ../sass/base.sass */
  #faq .q-row .q-block:hover {
    background-color: darkred;
  }
}
/* line 538, ../sass/base.sass */
#faq .q-row .q-block .icon {
  float: left;
  position: relative;
  width: 36px;
  height: 36px;
  height: 100%;
  margin: 0 10px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 538, ../sass/base.sass */
  #faq .q-row .q-block .icon {
    height: auto;
  }
}
/* line 549, ../sass/base.sass */
#faq .q-row .q-block .icon img {
  min-width: 36px;
  top: 0;
  left: -3;
  position: relative;
}
/* line 554, ../sass/base.sass */
#faq .q-row .q-block .q-text {
  display: inline-block;
}
@media only screen and (max-width: 570px) {
  /* line 554, ../sass/base.sass */
  #faq .q-row .q-block .q-text {
    margin: 0px auto;
  }
}
/* line 558, ../sass/base.sass */
#faq .q-row .q-block .q-text h1 {
  font-family: "Montserrat";
  color: white;
  font-size: 1.3em;
  padding-bottom: 5px;
  width: 280px;
}
@media only screen and (max-width: 570px) {
  /* line 558, ../sass/base.sass */
  #faq .q-row .q-block .q-text h1 {
    width: 100%;
  }
}
/* line 566, ../sass/base.sass */
#faq .q-row .q-block .q-text p {
  width: 280px;
  height: 100%;
  position: relative;
  color: white;
  font-family: "Work Sans";
  font-size: 1em;
  font-wieght: 400;
}
@media only screen and (max-width: 570px) {
  /* line 566, ../sass/base.sass */
  #faq .q-row .q-block .q-text p {
    width: 90%;
    height: auto;
  }
}
@media only screen and (max-width: 570px) {
  /* line 577, ../sass/base.sass */
  #faq .q-row .collapse {
    cursor: pointer;
    margin: 0 auto;
  }
}
/* line 581, ../sass/base.sass */
#faq .q-row .collapse .q-text {
  width: 80%;
}
/* line 583, ../sass/base.sass */
#faq .q-row .collapse .q-text p {
  display: block;
}
@media only screen and (max-width: 570px) {
  /* line 583, ../sass/base.sass */
  #faq .q-row .collapse .q-text p {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  /* line 587, ../sass/base.sass */
  #faq .q-row .collapse .q-text h1 {
    padding-bottom: 0px;
    height: auto;
    line-height: 36px;
  }
}

/* line 593, ../sass/base.sass */
#schedule {
  background-color: #c91818;
}
/* line 596, ../sass/base.sass */
#schedule .container {
  padding: 45px;
}
@media only screen and (max-width: 570px) {
  /* line 596, ../sass/base.sass */
  #schedule .container {
    padding: 45px 0;
  }
}
/* line 601, ../sass/base.sass */
#schedule span p {
  padding: 15px 0;
  text-align: center;
  width: 100%;
  font-size: 1.4em;
  color: white;
  font-family: "Work Sans";
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 601, ../sass/base.sass */
  #schedule span p {
    font-size: 6vw;
  }
}
/* line 611, ../sass/base.sass */
#schedule .dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 611, ../sass/base.sass */
  #schedule .dates {
    font-size: 3vw;
  }
}
/* line 619, ../sass/base.sass */
#schedule .dates h1 {
  margin: 0 45px 20px;
  font-family: "Montserrat";
  color: white;
  font-size: 2em;
  margin-bottom: 20px;
}
/* line 625, ../sass/base.sass */
#schedule .dates .sat {
  margin-bottom: 20px;
  display: inline-block;
}
/* line 628, ../sass/base.sass */
#schedule .dates .sun {
  display: inline-block;
}
/* line 631, ../sass/base.sass */
#schedule .dates .schedule-wrapper li {
  margin: 0 45px;
  font-family: "Work Sans";
  list-style: none;
  font-size: 1.4em;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 631, ../sass/base.sass */
  #schedule .dates .schedule-wrapper li {
    width: 100%;
    margin: 10px 0;
    padding: 0 45px;
  }
}
/* line 642, ../sass/base.sass */
#schedule .dates .schedule-wrapper li span:first-child {
  display: inline-block;
  width: 120px;
  color: #ffc933;
}
@media only screen and (max-width: 570px) {
  /* line 642, ../sass/base.sass */
  #schedule .dates .schedule-wrapper li span:first-child {
    width: 100%;
  }
}
/* line 648, ../sass/base.sass */
#schedule .dates .schedule-wrapper li span:last-child {
  color: white;
}

/* line 651, ../sass/base.sass */
#sponsors {
  background-image: url("../assets/img/sponsors.jpg");
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  z-index: 1;
}
/* line 659, ../sass/base.sass */
#sponsors:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(214, 214, 214, 0.8);
}
/* line 665, ../sass/base.sass */
#sponsors .container {
  position: relative;
  z-index: 2;
  padding: 45px;
}
/* line 669, ../sass/base.sass */
#sponsors .title {
  margin-bottom: 50px;
  color: #9b1010;
  font-family: "Montserrat";
  text-align: center;
}
/* line 674, ../sass/base.sass */
#sponsors .title .one {
  font-size: 0.8em;
  display: block;
}
/* line 677, ../sass/base.sass */
#sponsors .title .two {
  font-size: 4.0625em;
  line-height: 1em;
}
@media only screen and (max-width: 570px) {
  /* line 677, ../sass/base.sass */
  #sponsors .title .two {
    text-align: center;
    font-size: 2.5em;
  }
}
/* line 683, ../sass/base.sass */
#sponsors .title img {
  margin: 0 0 0 10;
  width: 40px;
  translation: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 683, ../sass/base.sass */
  #sponsors .title img {
    width: 25px;
  }
}
/* line 690, ../sass/base.sass */
#sponsors .first {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto 50px;
  transition: all 0.2s ease-in-out;
}
/* line 696, ../sass/base.sass */
#sponsors .first:hover {
  opacity: 0.7;
}
/* line 698, ../sass/base.sass */
#sponsors .second {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 703, ../sass/base.sass */
#sponsors .second a {
  margin: 50px;
  min-height: 100px;
  width: 250px;
  display: flex;
  transition: all 0.2s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 712, ../sass/base.sass */
#sponsors .second a:hover {
  opacity: 0.7;
}
/* line 714, ../sass/base.sass */
#sponsors .second a img {
  width: 100%;
  max-height: 200px;
}
/* line 717, ../sass/base.sass */
#sponsors .third {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 721, ../sass/base.sass */
#sponsors .third a {
  margin: 20px;
  min-height: 100px;
  width: 150px;
  display: flex;
  transition: all 0.2s ease-in-out;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 730, ../sass/base.sass */
#sponsors .third a:hover {
  opacity: 0.7;
}
/* line 732, ../sass/base.sass */
#sponsors .third a img {
  width: 100%;
  max-height: 100px;
}

/* line 736, ../sass/base.sass */
#footer {
  height: 75px;
  background-color: #dd2626;
}
/* line 742, ../sass/base.sass */
#footer span:first-child a {
  padding: 0 20px;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  font-family: "Montserrat";
  color: white;
  font-size: 1em;
  float: left;
  transition: all 0.2s ease-in-out;
}
@media only screen and (max-width: 570px) {
  /* line 742, ../sass/base.sass */
  #footer span:first-child a {
    width: 50%;
  }
}
/* line 754, ../sass/base.sass */
#footer span:first-child a:hover {
  background-color: #f43434;
}
/* line 756, ../sass/base.sass */
#footer span:first-child img {
  padding: 13px 0;
  width: 150px;
  height: 75px;
  float: left;
}
@media only screen and (max-width: 570px) {
  /* line 756, ../sass/base.sass */
  #footer span:first-child img {
    width: 100%;
  }
}
/* line 764, ../sass/base.sass */
#footer span:last-child {
  float: right;
}
/* line 765, ../sass/base.sass */
#footer span:last-child a {
  padding: 20px 0;
  display: inline-block;
  position: relative;
  width: 75px;
  height: 75px;
  transition: all 0.2s ease-in-out;
  float: left;
}
@media only screen and (max-width: 570px) {
  /* line 765, ../sass/base.sass */
  #footer span:last-child a {
    opacity: 0;
    position: absolute;
    left: 0;
  }
}
/* line 777, ../sass/base.sass */
#footer span:last-child a img {
  margin: 0 auto;
  width: 100%;
  height: 35px;
}
/* line 781, ../sass/base.sass */
#footer span:last-child a:hover {
  background-color: #f43434;
}

/* line 784, ../sass/base.sass */
.banner {
  height: 270px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 45px;
  position: relative;
}
/* line 791, ../sass/base.sass */
.banner:after {
  height: 270px;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  content: "";
  background-color: rgba(216, 31, 31, 0.7);
}
/* line 799, ../sass/base.sass */
.banner .icon {
  display: block;
  position: relative;
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
}
/* line 805, ../sass/base.sass */
.banner .wrapper {
  width: 180px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
}
/* line 810, ../sass/base.sass */
.banner h1 {
  position: relative;
  z-index: 10;
  color: white;
  font-family: "Montserrat";
  font-size: 2.0625em;
  text-align: center;
}
/* line 818, ../sass/base.sass */
.banner .schedule .icon {
  margin-top: 23px;
  margin-top: 23px;
  width: 85px;
  margin-bottom: 10px;
}
/* line 824, ../sass/base.sass */
.banner .faq .icon {
  width: 65px;
}

/* line 826, ../sass/base.sass */
::selection {
  background-color: #ffc933;
  color: #f43434;
}
